<body>
  <h1 class="head">ようこそ Bookers へ！</h1>
  
  <p class="top-content"><b>Bookers</b> では、さまざまな書籍に関するあなたの意見や<br></p>
  <p class="top-content">印象を共有し交換することができます</p>
  <div class="link">
  <%= link_to "srart", books_path %>
  </div>
</body>