// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:boder-box;
}
a {
  text-decoration:underline;
  color:#666666;
}
a:hover {
  color:white;
  background-color:black;
}

body {
  margin:33px;
  background-color:#fff;
  color:#333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}
.head {
  width:100%;
  margin:17px 0;
  line-heght: 18px;
}
td {
  padding:1px 5px 7px 5px;
  color:#333333;
  
}
.post-head {
  margin:16px 0;
}
.form {
  margin-bottom:10px;
}
/*---------show.html.erb----------------------*/
.show-content {
  margin:33px
}
/*---------edit.html.erb------------------------*/
.btn {
  margin-top:10px;
}
/*---------error-----------------------*/
.error-box {
  border: 3px solid #cc0000;
  width:450px;
  margin-bottom:20px;
  background-color:#f0f0f0;
}
.error-title {
  color:white;
  background-color:#cc0000;
  padding: 5px 5px 5px 20px;
  font-size: 12px;
}

.error-message {
  margin:33px;
  padding-left: 40px;
}

/*------------flash message-------------*/
.flash {
  margin: 33px;
  color:#008000;
}